@model FGSZAMA.Controllers.OrderViewModel

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/zamowienie_index.css">
</head>
<body>
    <h1>Edytuj Zamówienie</h1>

    <form asp-action="Edit">
        <div class="form-group">
            <label asp-for="Zestaw" class="control-label"></label>
            <input asp-for="Zestaw" class="form-control" />
            <span asp-validation-for="Zestaw" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Kalorycznosc" class="control-label"></label>
            <input asp-for="Kalorycznosc" class="form-control" />
            <span asp-validation-for="Kalorycznosc" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CenaZaDzien" class="control-label"></label>
            <input asp-for="CenaZaDzien" class="form-control" />
            <span asp-validation-for="CenaZaDzien" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DataOd" class="control-label"></label>
            <input asp-for="DataOd" class="form-control" />
            <span asp-validation-for="DataOd" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DataDo" class="control-label"></label>
            <input asp-for="DataDo" class="form-control" />
            <span asp-validation-for="DataDo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SumaCeny" class="control-label"></label>
            <input asp-for="SumaCeny" class="form-control" />
            <span asp-validation-for="SumaCeny" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Zapisz" class="btn btn-primary" />
        </div>
    </form>
    <div>
        <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
    </div>
</body>
</html>
