@{
    ViewData["Title"] = "Panel Administratora";
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/panel_administratora_index.css">
    <link rel="stylesheet" href="~/css/home.css">
</head>
<body>
    <div class="container mt-5">
        <h1> .</h1>
        <h1 class="text-center">Panel Administratora</h1>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card custom-card">
                    <div class="card-body">
                        <h5 class="card-title">Zarządzaj Zamówieniami</h5>
                        <p class="card-text">Usuwaj zamówienia oraz uzyskaj dostęp do ich szczegółów.</p>
                        <a href="@Url.Action("ZamowieniePanel", "Admin")" class="btn btn-primary custom-btn">Przejdź do Panelu Zamówień</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card custom-card">
                    <div class="card-body">
                        <h5 class="card-title">Zarządzaj Użytkownikami</h5>
                        <p class="card-text">Edytuj profile użytkowników oraz usuwaj konta.</p>
                        <a href="@Url.Action("UzytkownikPanel", "Admin")" class="btn btn-primary custom-btn">Przejdź do Panelu Użytkowników</a>
                    </div>
                    <a href="@Url.Action("Aktywność", "Admin")" class="btn btn-primary custom-btn">Przejdź do Panelu Aktywności</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>