@{
    ViewData["Title"] = "Cennik";
}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cennik Zestawów - FarGol Szama</title>
    <link rel="stylesheet" href="~/css/cennik.css">
</head>
<body>
    <header class="cennik-header">
        <h1>Cennik Zestawów</h1>
        <p class="cennik-subtitle"></p>
    </header>
    <main class="cennik-main">
        <div class="price-list">
            <div class="price-item">
                <h2>Zestaw Drwala</h2>
                <p class="price">1500kcal - 45zł</p>
                <p class="description"></p>
                <a href="https://localhost:7019/Zamowienie/Create" type="button" class="btn btn-outline-warning" >Zobacz szczegóły</a>
            </div>
            <div class="price-item">
                <h2>Zestaw Pomidor</h2>
                <p class="price">1800kcal - 55zł</p>
                <p class="description"></p>
                <a href="https://localhost:7019/Zamowienie/Create" type="button" class="btn btn-outline-warning">Zobacz szczegóły</a>
            </div>
            <div class="price-item">
                <h2>Zestaw Turbo</h2>
                <p class="price">2100kcal - 65zł</p>
                <p class="description"></p>
                <a href="https://localhost:7019/Zamowienie/Create" type="button" class="btn btn-outline-warning">Zobacz szczegóły</a>
            </div>
            <div class="price-item">
                <h2>Zestaw FitBox</h2>
                <p class="price">2400kcal - 70zł</p>
                <p class="description"></p>
                <a href="https://localhost:7019/Zamowienie/Create" type="button" class="btn btn-outline-warning">Zobacz szczegóły</a>
            </div>
            <div class="price-item">
                <h2>Zestaw Ognisty</h2>
                <p class="price">2800kcal - 80zł</p>
                <p class="description"></p>
                <a href="https://localhost:7019/Zamowienie/Create" type="button" class="btn btn-outline-warning">Zobacz szczegóły</a>
            </div>
            <div class="price-item">
                <h2>Zestaw Leśny</h2>
                <p class="price">2800kcal - 80zł</p>
                <p class="description"></p>
                <a href="https://localhost:7019/Zamowienie/Create" type="button" class="btn btn-outline-warning">Zobacz szczegóły</a>
            </div>
            <div class="price-item">
                <h2>Zestaw Komfort</h2>
                <p class="price">2800kcal - 80zł</p>
                <p class="description"></p>
                <a href="https://localhost:7019/Zamowienie/Create" type="button" class="btn btn-outline-warning">Zobacz szczegóły</a>
            </div>
        </div>
    </main>
    <p>  </p>
</body>
</html>