/* Tło całej strony */
body {
    background-color: #121212; /* Ciemne tło */
    color: #f5f5f5; /* Jasny kolor tekstu */
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Nagłówek strony */
.cennik-header {
    background-color: #1e1e1e;
    color: #ffa500;
    text-align: center;
    padding: 20px 0;
}

.cennik-subtitle {
    color: #f5f5f5;
    font-size: 1.2rem;
    margin-top: 5px;
}

/* Główna sekcja */
.cennik-main {
    padding: 40px 20px;
}

/* Lista zestawów */
.price-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Styl elementów cennika */
.price-item {
    background: #292929; /* Ciemniejszy szary dla kontrastu */
    color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

    .price-item:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
    }

    /* Nagłówki zestawów */
    .price-item h2 {
        color: #ffa500;
        margin-bottom: 10px;
        font-size: 1.5rem;
    }

/* Cena zestawów */
.price {
    color: #e67e22;
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Opis zestawów */
.description {
    color: #cccccc;
    font-size: 1rem;
    margin-bottom: 20px;
}

/* Przycisk szczegółów */
.btn-details {
    background-color: #ffa500;
    color: #1e1e1e;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
