/* Przyciski */
.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    color: white;
    text-decoration: none;
}



.btn-primary:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

.btn-warning {
    background-color: #f39c12;
   
}

.btn-warning:hover {
    background-color: #e67e22;
    transform: scale(1.05);
    
}
/* Tabela */
.table {
    width: 90%;
    margin: 0 auto;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
}

    .table th {
        color: #e67e22;
        text-align: left;
    }

    .table td, .table th {

        padding: 10px;
        vertical-align: middle;
    }

    .table td {
        color: #f5f5f5;
    }

.table-dark {
    background-color: #444;
}

    .table-dark.table-hover tbody tr:hover {
        background-color: #555;
    }

.center-button {
    text-align: center;
}

    .center-button .btn {
        display: inline-block;
        margin: 0 auto;
    }


