@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Potwierdź email";
}

<h1>@ViewData["Title"]</h1>
<p>Twój email został potwierdzony!</p>
<a class="w-100 btn btn-lg btn-warning" href="https://localhost:7019/">Wróc na stronę główną</a>
